:root {
  --dark-color: #2e2f42;
  --text-color: #434455;
  --third-title-color: #f4f4fd;
  --primary-brand-color: #4d5ae5;
  --white-background-color: #ffffff;
  --logo-style: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-title-color);
  background-color: var(--white-background-colorbackground-color);
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/*-------------Header-----------*/

.header-logo {
  font-family: var(--logo-style);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.header-logo-web {
  color: var(--dark-color);
}

.header-contacts {
  font-style: normal;
}

.header-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-menu-link:is(:hover, :focus) {
  color: var(--dark-color);
}

.header-contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-contacts-link {
  color: var(--dark-color);
}

/*----------------Hero-----------------*/

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
}

.hero-btn {
  button:is(:hover, :focus, :active) {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white--background-color);
    letter-spacing: 0.02em;
    cursor: pointer;
  }
}

/*----------------Business-----------------*/

.business-info-strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.business-info-idea {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*------------------Our job------------------*/
.our-job-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

/*-----------------Team------------------*/

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-title-list {
}

.team-title-item {
}
/*-----------------Employee---------------*/

.employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.employee-job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*----------------Footer--------------*/

.footer {
  background: var(--main-title-color);
}

.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand-color);
}
.footer-logo-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
.footer-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}

/* -------------Main-----------*/

.button:is(:hover, :focus, :active) {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-title-color);
  cursor: pointer;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.portfolio-type {
  color: #434455;
}
