:root {
  --dark-color: #2e2f42;
  --text-color: #434455;
  --third-title-color: #f4f4fd;
  --primary-brand-color: #4d5ae5;
  --white-background-color: #ffffff;
  --logo-style: "Raleway", sans-serif;
  --pressed-background-state-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/*-------------Header-----------*/

.header-logo {
  font-family: var(--logo-style);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.header-logo-web {
  color: var(--dark-color);
}

.header-contacts {
  font-style: normal;
}

.header-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
}

.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--pressed-background-state-color);
}

.header-contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-contacts-link {
  color: var(--text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--pressed-background-state-color);
}

/*----------------Hero-----------------*/

.hero {
  background-color: var(--dark-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  text-align: center;
}

.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-background-color);
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--primary-brand-color);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--pressed-background-state-color);
}

/*----------------Business-----------------*/

.business-info-strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.business-info-idea {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*------------------Our job------------------*/
.our-job-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  text-transform: capitalize;
}

/*-----------------Team------------------*/

.team {
  background-color: var(--third-title-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  text-transform: capitalize;
}

.team-title-item {
  background-color: var(--white-background-color);
}

/*-----------------Employee---------------*/

.employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.employee-job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*----------------Footer--------------*/

.footer {
  background: var(--dark-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand-color);
  text-transform: uppercase;
}
.footer-logo-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
.footer-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}

/* -------------Main-----------*/

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  cursor: pointer;
  background-color: var(--third-title-color);
}

.button:hover,
.button:focus {
  color: var(--white-background-color);
  background-color: var(--pressed-background-state-color);
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
